body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", "Arial", sans-serif; 
  font-size: 16px;
  line-height: 30px;
  font-weight: 300;
  color: #283136;
  text-transform: none;
    
  background-color: rgb(255, 255, 255);
}

a {
    color: black;
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    width: 1px;
    height: 1px;
}

.site-navigation {
    color: #000000;
    margin: 0;
    padding: 0;
    list-style: none;
}

.site-navigation li {
    display: inline-block;
    margin-right: 48px;
}

.site-navigation li:last-child {
    margin-right: 0px;
}

.site-navigation a {
    text-decoration: none;
    display: block;
    padding: 0;
    color: #000000;
}

.btn {
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
}

input {
  background-color: transparent;
  border: 2px solid rgba(68, 68, 68, 0.5);
}

input:focus {
  border-color: red;
}

textarea {
  background-color: transparent;
  border: 2px solid rgba(68, 68, 68, 0.5);
}

textarea:focus {
  border-color: rgb(68, 68, 68);
}

.main-navigation {
  background-color: rgb(238, 238, 238);
}

.site-navigation li, 
.basket {
    color: #000000;
    font-size: 16px;
    line-height: 30px;
    font-weight: inherit;
    text-transform: uppercase;
    list-style: none;
}

p {
/*    font-size: 16px;*/
    font-weight: 500;
    line-height: 24px;
}

.about-slider {
    width: 460px;
    height: auto;
}

/*
.bth {
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
} Не работает!!!
*/

/*
.site-navigation a:link {
    color: black;
}
*/

.site-navigation a:hover,
.basket a:hover {
    color: rgb(251, 86, 90);
}

.site-navigation a:active
.basket a:active {
    color: #bababa;
}

ul {
    list-style: none;
}

h3 {
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    color: black;
}

.slogan-text {
    font-size: 45px;
    line-height: 45px;
    font-weight: bold;
}

.about-company h3,
.how {
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
}

.contacts b{
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
    color: #000000;
}

.contacts p {
    font-size: 16px;
    line-height: 18px;
    color: #666666;
}



li.order {
    position: relative;
    padding-left: 0px;
/*    border: 1px solid black;*/
}

.order::after {
    display: block;
    content: "";
    position: absolute;
    left: -40px;
    top: 13px;
    height: 2px;
    width: 30px;
    background-color: red;
}

/*
.order::after {
    display: block;
    content: "";
    position: absolute;
    left: 0px;
    height: 1px;
    width: 3px;
    background-color: red;
}
*/

/* ----- Слайдер ----- */

.slider {
    position: relative;
    width: 1160px;
    height: 413px;
    margin: 0 auto;
/*    border: 1px dotted black;*/
}

.slider-controls{
    position: absolute;
    bottom: 95px;
    left: 50%;
    width: 200px;
    height: 10px;
    margin-left: -100px;
    text-align: center;
/*    border: 1px dotted green;*/
    z-index: 1000;
}

.slider-controls i{
    display: inline-block;
    width: 4px;
    height: 4px;
    margin: 0 3px;
    background: white;
    border: 3px solid white;
    vertical-align: top;
    border-radius: 50%;
    cursor: pointer;
}
.slider-controls .active{
    background:#c1c1c1;
}

.slide{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    overflow:hidden;
/*    background-color:rgba(255,255,0,0.2);*/
    
}

.slide-text{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 380px;
    height: 270px;
    color: #283136;
/*    border: 2px solid black;*/
}
.slide-title {
    width: 100%;
    font-size: 55px;
    line-height: 1;
    font-weight: bold;
    color: black;
}

.slide:nth-child(1){
    background-image:url('../img/nerds-index-slide1.png');
    background-repeat:no-repeat;
    background-position:100% -20px;
}
.slide:nth-child(2){
    background-image:url('../img/nerds-index-slide2.png');
    background-repeat:no-repeat;
    background-position:100% -20px;
}
.slide:nth-child(3){
    background-image:url('../img/nerds-index-slide3.png');
    background-repeat:no-repeat;
    background-position:100% -20px;
}
.slide{
    display:none;
}
.slide:nth-child(1){
    display:block;
}
#btn-1:checked ~ .slides .slide:nth-child(1) { 
    display: block;
}
#btn-2:checked ~ .slides .slide:nth-child(2) { 
    display: block;
}
#btn-3:checked ~ .slides .slide:nth-child(3) { 
    display: block;
}

/* ----- Кнопки ----- */

.btn-about {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 240px;
    height: 50px;
/*    padding: 18px 52px;*/
    border-radius: 5px;
    background-color: #fb565a;
}
.btn-about:hover {
    background: #e74246;
}
.btn-about:active {
    color: #e26f72;
    background: #d7373b;
}

.y1-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 52px;
    border-radius: 5px;
    background:#fb565a;
/*    padding: 20px 40px;*/
}
.y1-btn:hover {
    background:#e74246;
}
.y1-btn:active {
    color: #e37376;
    background: #d7373b;
}

.y2-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 52px;
    border-radius: 5px;
    background:#00ca74;
/*    padding: 20px 40px;*/
}
.y2-btn:hover {
    background:#01a25e;
}
.y2-btn:active {
    color: #2eb97e;
    background: #00aa62;
}

.y3-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 52px;
    border-radius: 5px;
    background:#efc84a;
}
.y3-btn:hover {
    background:#eab534;
}
.y3-btn:active {
    color: #edc265;
    background: #e5a722;
}

.brn-write {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 220px;
    height: 50px;
    border-radius: 4px;
    background: #fb565a;
    margin-bottom: 0px;
}
.brn-write:hover {
    background:#e74246;
}
.brn-write:active {
    color: #e37376;
    background: #d7373b;
}

.social-item a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #e1e1e1;
}
.social-item a:hover {
    background: #e74246;
}
.social-item a:active {
    color: #e37376;
    background: #d7373b;
}

/* ----- Таблица ----- */

.list-orders-table {
    border-collapse: collapse;
    margin-top: 46px;
}

td {
    padding-top: 26px; 
}

/*--------------------------*/

.list-orders li {
    margin-top: 35px;
}

.about-company {
    margin-top: 45px;
}

.first-part p {
    margin-top: 36px;
}

.number td {
    padding-bottom: 20px;
    font-size: 45px;
    line-height: 10px;
    font-weight: bold;
}

.continent {
    vertical-align: top;
    font-size: 24px;
    line-height: 10px;
    font-weight: bold;
}

.level td {
     font-size: 16px;
     line-height: 24px;
}

/* ----- Форма ----- */

.modal-email {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 960px;
    height: 590px;
    box-shadow: 0 0 5px;
}

.modal {
    width: 800px;
    height: 438px;
    border: 1px solid blue;
}

.modal-email h3 {
    font-size: 45px;
    line-height: 45px;
}

label {
    font-size: 16px;
    line-height: 18px;
    font-weight: bold;
}

.label-1 {
    width: 460px;
    height: 80px;
    border: 1px solid blue;
}

.appointment-item {
}

/* ----- Сеточные стили ----- */

html,
body {
    min-width: 100%;
/*    padding: 2px;*/
    min-height: 1750px;
}

.center-conteiner {
    width: 1160px;
    margin: 0px auto;
/*    border: 5px solid chartreuse;*/
}

.main-header {
    background-color: rgb(238, 238, 238);
    margin-bottom: 60px;
    min-height: 310px;
}

.main-navigation {
    display: flex;
    flex-direction: column;
/*    border: 2px solid green;*/
}

.main-header-logo {
    min-width: 160px;
    min-height: 65px;
/*    border: 2px solid blue;*/
}

.site-navigation {
    display: flex;
    align-items: center;
    margin: 0px;
    padding: 0;
    list-style: none;
    width: 460px;
    min-height: 28px;
/*    border: 2px solid yellow;*/
}

.site-navigation li {
    margin-left: 48pxS;
    padding: 0;
/*    border: 2px solid yellow;*/
}

.basket {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 160px;
    min-height: 28px;
/*    border: 2px solid blue;*/
}

.basket-svg {
    width: 40px;
    display: inline-block;
/*    border: 2px solid red;*/
}

.basket-bth {
    display: inline-block;
/*    border: 2px solid red;*/
}

.sliders {
    min-width: 160px;
    min-height: 65px;
/*    border: 2px solid yellow;*/
}

.main-navigation-wrapper {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
    min-height: 70px;
/*    border: 3px solid orange;*/
}

/*
.container {
    width: 1100px;
    margin: 0 auto;
    padding: 0 0px;
    border: 3px solid green;
}
*/

/*
.main-navigation-wrapper .container {
    display: flex;
    justify-content: space-between;
}
*/

.services-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
    min-height: 350px;
/*    border: 5px solid green;*/
}

.services-item {
    width: 300px;
    min-height: 350px;
/*    border: 2px solid red;*/
}

.slogan {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
/*    border: 2px solid blue;*/
    
}

.first-part {
    display: inline-block;
    margin-top: 80px;
    width: 660px;
/*    border: 2px solid red;*/
}

.second-part {
    display: inline-block;
    margin-top: 40px;
    width: 360px;
/*    min-height: 460px;*/
/*    border: 2px solid black;*/
}

.partners-list {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding: 0;
    list-style: none;
    width: 100%;
    min-height: 180px;
/*    border: 2px solid green;*/
}

.partner {
    opacity: 0.4;
}

.partner:hover {
    opacity: 1.0;
}

/*
.partners {
    width: 100%;
    min-height: 180px;
    border: 2px solid red;
}
*/
/*-------------Карта----------*/

.map-background {
    background-image: url('../img/map.png'); 
    background-position: top center;
    background-repeat: no-repeat;
    width: 100%;
    height: 416px;
}

.contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 58px;
    width: 222px;
    height: 210px;
/*    background-color: #ffffff;*/
/*    border: 2px solid red;*/
}

.block-contacts {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 320px;
    height: 308px;
    margin-top: 54px;
    background-color: #ffffff;
/*    border: 1px solid orange;*/
}

.marker-map {
/*    display: inline-block;*/
    margin-left: 680px;
    margin-top: -278px;
}

/*-----------------------*/

.main-footer {
    display: flex;
    flex-direction: column;
/*    border: 2px solid red;*/
}

.slogan-footer {
    display: block;
    float: right;
    width: 760px;
    height: 90px;
/*    border: 1px solid black;*/
    
}

.footer-social {
    width: 1160px;
    margin: 0px auto;
    display: flex;
/*    justify-content: space-between;*/
    margin-top: 60px;
/*    border: 5px solid blue;*/
/*    justify-content: space-between;*/
/*    border: 2px solid yellow;*/
}

.footer-slogan {
    margin-left: 140px;
/*    border: 1px solid black;*/
}

.footer-item {
/*
    display: flex;
    justify-content: flex-start;
*/
    width: 260px;
/*    border: 2px solid red;*/
}

.mid-text {
    font-size: 36px;
    line-height: 36px;
    font-weight: bold;
}

/*
.social-item li {
    width: 80px;
    height: 80px;
    border: 1px solid blue;
}
*/
/*
.social-item li {
    width: 80px;
    height: 80px;
    
    margin-right: 48px;
    border: 1px solid #000000;
}
*/

.social-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 260px;
    padding-left: 0px;
/*    border: 2px solid green;*/
}

.how {
    margin-top: 40px;
}

.bar-element {
    margin-top: 78px;
    display: block;
    width: 100%;
    height: 2px;
    background-color: rgb(238, 238, 238);
}

/*-----------Каталог-------------*/

.shop-name {
    display: block;
    text-align: center;
    font-size: 55px;
    line-height: 30px;
    font-weight: 700;
    color: black;
}

.filters-products {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 260px;
    height: 746px;
/*    margin-top: 60px;*/
/*    border: 1px solid blue;*/
}

.title-filter-1 {
    display: block;
    margin-bottom: 56px;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    color: black;
}

.title-filter-2 {
    text-transform: uppercase;
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    color: black;
}

.show-filter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 260px;
    height: 50px;
    background-color: #eeeeee;
    font-family: 'Roboto', 'Arial', sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    color: #000000;
    border: none;
}

.show-filter:hover {
    background: #dfdfdf;
}
.show-filter:active {
    color: #959595;
    background: #d5d5d5;
}

/*------------Фильтр-1------------*/

.range-filter {
/*    border: 1px solid black;*/
    width: 260px; 
}

.range-controls {
  position: relative;
  height: 41px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 15px;
  border-radius: 5px;
  background: #f1f1f1;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 4px;
  height: 4px;
  cursor: pointer;
  border: 8px solid #fff;
  border-radius: 50%;
  background: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
}

.range-controls .toggle-min {
  left: 50px;
}

.range-controls .toggle-max {
  left: 110px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  font-size: 16px;
  display: inline-block;
  width: 50%;
}

.max-price {
  text-align: right;
}

.price-controls input {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  width: 60px;
  margin-left: 10px;
  padding: 8px 10px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

/*------------Фильтр-2------------*/

.filter-2 {
    margin-top: 60px;
/*    border: 1px solid blue;*/
}

.item-filter-2 {
    font-size: 16px;
    font-weight: 500;
    color: #61686c;
    margin: 0px;
    padding-left: 36px;
}

/*------------Фильтр-3------------*/

.item-filter-2 {
    font-size: 16px;
    font-weight: 500;
    color: #61686c;
    margin: 0px;
    padding-left: 36px;
}

/*------------Каталог каталог------------*/

.center-conteiner-catalog {
    display: flex;
    justify-content: space-between;
    width: 1160px;
    margin: 0px auto;
/*    border: 5px solid chartreuse;*/
}

.catalog {
    margin-bottom: 60px;
    width: 760px;
/*    border: 1px solid blue;*/
}


.catalog-main {
    width: 100%;
    min-height: 1500px;
    margin-left: 0px;
    margin-top: 27px;
/*    border: 2px solid red;*/
}

.window-go {
    display: none;
}

.catalog-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 360px;
    height: 576px;
    margin-top: 33px;
/*    border: 1px solid black;*/
}

.catalog-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-;
    flex-wrap: wrap;
    padding: 0px;
    margin: 0px;
/*    border: 3px solid blue;*/
}

.browser {
    height: 40px;
    display: block;
}

/*--------- Шапка каталога ----------*/

.title-catalog {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    height: 24px;
/*    border: 1px solid red;*/
}

.sort-option ul {
    display: flex;
    justify-content: space-between;
    width: 280px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    padding: 0px;
    margin-right: -250px;
/*    border: 1px solid green;*/
}

.sort-icon ul {
    display: flex;
    justify-content: space-around;
    width: 60px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    padding: 0px;
/*    border: 1px solid green;*/
}

.sort-option a {
    color: #b2b2b2;
}
.sort-option a:hover {
    color: #666666;
}
.sort-option a:active {
    color: #000000;
}

.arrow {
    color: #b2b2b2;
}

/*--------- Подвал каталога ----------*/

.catalog-footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
    margin-top: 60px;
/*    border: 4px solid yellow;*/
}

.pagination-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 445px;
    height: 50px;
    padding: 0px;
/*    border: 1px solid blue;*/
}

.pagination-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    background-color: #eeeeee;
    border-radius: 4px;
/*    border: 5px solid #eeeeee;*/
}
.pagination-item:hover {
    background: #dfdfdf;
}
.pagination-item:active {
    color: #b7b7b7;
    background: #d5d5d5;
}

.pagination-item-next {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 260px;
    height: 50px;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    color: black;
    background-color: #eeeeee;
    border-radius: 4px;
/*    border: 5px solid #eeeeee;*/
}
.pagination-item-next:hover {
    background: #dfdfdf;
}
.pagination-item-next:active {
    color: #b7b7b7;
    background: #d5d5d5;
}